/*===== Poppins Font =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*===== Variables =====*/
:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --text-primary: #000000;
    /* --text-secondary: #00c200; */
    --text-secondary: #ff2101;
    --brave-color: #ff2101;
    --brave-blue-color: #5755d9;
    --text-gray: #656565;
    --header-height: 50px;
    --sidebar-width: 250px;
    --transition: all 150ms linear;
}

/*===== Global Styles =====*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*===== Global Classes ======*/
.wrapper {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
}