.search_results_wrapper {
    max-width: 1280px;
    width: 90vw;
    margin: 0 auto;
}

.search_results_images_details {
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: 65% 35%;
}

.image_details_left figure {
    aspect-ratio: 4 / 2.5;
    background-color: #dfdfdf;
}

.image_details_ads {
    height: 250px;
    background-color: #dfdfdf;
}

.iamge_details_btns {
    margin: 2rem 0;
}

.iamge_details_btns button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1rem;
    padding: .6rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
}

.iamge_details_btns button:first-child {
    background-color: var(--brave-color);
    color: #fff;
}

.iamge_details_btns button:last-child {
    background-color: #dfdfdf;
    color: var(--brave-blue-color);
    margin-top: 1rem;
}

.iamge_details_btns svg {
    width: 25px;
}

@media only screen and (max-width: 992px) {
    .search_results_images_details {
        gap: 1rem;
        grid-template-columns: auto;
    }

    .image_details_left figure {
        aspect-ratio: 1;
    }

    .image_details_ads {
        height: 150px;
    }
}