/*===== Header =====*/
.navbar_header {
    /* background-color: var(--bg-secondary); */
    height: var(--header-height);
    position: relative;
    z-index: 1;
    padding: 0 1rem;
}

.navbar_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.navbar_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_link {
    padding: .5rem 1rem;
}

.navbar_link:hover,
.navbar_link.active {
    color: var(--text-secondary);
    border-bottom: 1.5px solid;
}

.navbar_bars {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}

/*===== Main Content =====*/
#container::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    height: 150px;
    opacity: .05;
    background: url('https://cdn.search.brave.com/serp/v1/static/img/9bcd91b840e97936e9b2318c58fb2ab3003590c43608087cdb571260eb173f85-waves-bg-bottom.svg') no-repeat center/cover;
    transform: rotate(180deg);
    z-index: -1;
}

#container::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    height: 150px;
    opacity: .05;
    background: url('https://cdn.search.brave.com/serp/v1/static/img/9bcd91b840e97936e9b2318c58fb2ab3003590c43608087cdb571260eb173f85-waves-bg-bottom.svg') no-repeat center/cover;
    z-index: -1;
}

.search {
    min-height: 89vh;
    padding-top: 150px;
}

.search_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.search_title {
    font-size: 38px;
    font-weight: 500;
    color: var(--text-gray);
}

.search_description {
    color: var(--text-gray);
    font-size: 14px;
    margin-top: 1rem;
}

.search_form {
    position: relative;
    margin-top: 3rem;
}

.search_form {
    z-index: 10 !important;
}

.search_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.search_group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 600px;
    min-height: 55px;
    background-color: #fff;
}

.search_group:hover,
.search_group:focus-within {
    box-shadow: 2px 2px 32px rgba(0 0 0 / 12%);
}

.search_input {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    padding-left: 1rem;
    font-size: 16px;
    color: #555;
}

.search_input::placeholder {
    color: #aaa;
}

.search_input:focus {
    outline: none;
}

.search_icon,
.close_icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.search_icon {
    color: var(--brave-color);
    height: 55px;
    width: 50px;
    padding: 12px;
    border-radius: 0 10px 10px 0;
}

.search_icon:hover {
    color: #fff;
    background: linear-gradient(to right bottom, var(--brave-color), var(--brave-blue-color));
}

.close_icon {
    color: #ccc;
    display: none;
}

.close_icon:hover {
    color: #bbb;
}

.search_ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.suggestions {
    border-radius: 0 0 10px 10px;
    width: 600px;
    max-height: 350px;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: var(--bg-primary);
    overflow-y: auto;
    box-shadow: 2px 2px 16px rgba(0 0 0 / 12%);

}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions li {
    padding: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.suggestions li:hover {
    background-color: var(--bg-secondary);
}

.search_icon_left {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: none;
}

.list_search_icon {
    width: 20px;
    height: 20px;
}

.search_form {
    z-index: 0 !important;
}

.settings_icon {
    display: block !important;
}

.search_logo{
    width: 253px;
    height: 78px;
}

/*===== Footer =====*/
.footer {
    background-color: var(--bg-secondary);
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 1rem;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}

.footer_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (min-width: 1700px) {
    #container.open {
        margin-right: 0;
    }
}

@media only screen and (max-width: 992px) {
    .search.open {
        margin-left: -100px;
        transition: var(--transition);
    }
}

@media only screen and (max-width: 668px) {

    .search.open {
        margin-left: 0;
    }

    .footer_wrapper {
        flex-direction: column;
        padding: 5px 0;
    }

    .search_group,
    .suggestions {
        width: 90vw;
    }

    .search{
        padding-top: 100px;
    }

    .search_form{
        margin-top: 1rem;
    }

    .suggestions{
        max-height: 300px;
    }

    .search_logo{
        width: 200px;
    }
}

@media only screen and (max-width: 499px) {
    .navbar_link {
        font-size: 15px;
        padding: .5rem .7rem;
    }

    footer {
        font-size: 15px;
    }
}