:root {
    --brave-color: #ff2101;
}

.search_header_wrapper {
    width: 99vw;
    max-width: 1580px;
    margin: 0 auto;
}

body {
    background-color: #f2f4f7;
}

.search_header {
    background-color: #f9fafd;
    border-bottom: 1px solid #efdfdf;
}

/*===== Header Top =====*/
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem .5rem;
}

.header_top_left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.search_header_logo {
    width: 114px;
    height: 35px;
    background: url('../images/brave.svg') no-repeat center/cover;
}

.search_form {
    position: relative;
    z-index: 1;
}

.search_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.search_group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 650px;
    min-height: 45px;
    background-color: #fff;
}

.search_group:hover,
.search_group:focus-within {
    box-shadow: 2px 2px 32px rgba(0 0 0 / 12%);
}

.search_input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    padding-left: 1rem;
    font-size: 16px;
    color: #555;
}

.search_input::placeholder {
    color: #aaa;
}

.search_input:focus {
    outline: none;
}

.search_icon,
.close_icon,
.sidebar_close_icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.search_icon {
    color: var(--brave-color);
}

.close_icon {
    color: #ccc;
    display: none;
}

.close_icon:hover {
    color: #bbb;
}

.search_ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.suggestions {
    border-radius: 0 0 10px 10px;
    width: 650px;
    max-height: 400px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: var(--bg-primary);
    overflow-y: auto;
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestions li {
    padding: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.suggestions li:hover {
    background-color: var(--bg-secondary);
}

.search_icon_left {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: none;
}

.list_search_icon {
    width: 20px;
    height: 20px;
}

.sidebar_wrapper {
    position: absolute;
}

.sidebar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 0 0 / 20%);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: var(--transition);
}

.sidebar_overlay.active {
    right: 0;
}

#sidebar {
    width: 450px;
    min-height: 100vh;
    background-color: #f2f4f7;
    position: fixed;
    top: 0;
    right: -450px;
    z-index: 100;
    box-shadow: 2px 2px 8px rgba(0 0 0 / 12%);
    transition: var(--transition);
}

#sidebar.active {
    right: 0;
}

.sidebar_header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.sidebar_header_settings_icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: 500;
    font-size: 18px;
    color: #555;
}

.sidebar_header_settings_icon {
    width: 28px;
}

.sidebar_header_close_icon {
    width: 23px;
}

.quick_settings {
    background-color: #fff;
    margin: 1rem 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    min-height: 400px;
}

.quick_settings_title {
    color: #555;
    font-size: 1rem;
}

.quick_settings_separate {
    margin-top: .5rem;
    display: block;
    height: 1px;
    background-color: #efefef;
}

/*===== Header Bottom =====*/
.header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    font-size: 14px;
    margin-left: 10.5rem;
    position: relative;
}

.header_bottom svg {
    width: 20px;
}

.header_bottom_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header_bottom_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    padding: .5rem 0;
    border-bottom: 3px solid transparent;
}

.header_bottom_link.active,
.header_bottom_link:hover {
    color: var(--brave-color);
    border-color: var(--brave-color);
}

.dropdown_wrapper {
    position: relative;
}

.dropdown_wrapper:hover>.header_bottom_dropdown {
    display: block;
}

.header_bottom_dropdown {
    position: absolute;
    background-color: #f9fafd;
    padding: .5rem 0;
    /* border-radius: 0 0 10px 10px;
    border: 1px solid #efdfdf;
    border-top: none; */
    border-radius: 10px;
    box-shadow: 2px 2px 16px rgba(0 0 0 / 12%);
    min-width: 100px;
    display: none;
}

/* .header_bottom_dropdown.active{
    display: block;
} */


.videos_mobile {
    display: none;
}

.header_bottom_right_icon {
    display: flex;
}

.settings_icon,
.settings_icon_mobile,
.info_icon,
.feedback_icon,
.sidebar_header_close_icon {
    width: 30px;
    height: 30px;
    color: #555;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-out;
}

.settings_icon:hover,
.settings_icon_mobile:hover,
.info_icon:hover,
.feedback_icon:hover,
.sidebar_header_close_icon:hover {
    background-color: #efefef;
}

.settings_icon_mobile {
    display: none;
}

/*===== Search Results =====*/
.search_results_wrapper {
    max-width: 1280px;
    width: 90vw;
    margin: 1rem auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.search_results_left,
.search_results_right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.search_results_left_card {
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
}

.search_results_left_card1 {
    height: 400px;
}

.search_results_left_card2 {
    height: 100px;
}

.search_results_left_card3 {
    height: 500px;
}

.search_results_left_card4 {
    height: 100vh;
}

.search_results_right {
    margin-left: 2rem;
}

.search_results_right_card {
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
    width: 350px;
}

.search_results_right_card1 {
    height: 100vh;
}

.cards_scroll_wrapper {
    position: relative;
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 8px rgba(0 0 0 / 12%);
}

.btn svg {
    width: 25px;
    height: 25px;
    color: skyblue;
}

.card_scroll_left {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.card_scroll_right {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.cards_scroll {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cards_scroll::-webkit-scrollbar {
    height: .5rem;
}

.cards_scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 100px;
}

.card {
    display: inline-block;
    height: 280px;
    width: 220px;
    background-color: #fff;
    border-radius: 15px;
}

.card:not(:first-child) {
    margin-left: 5px;
}

/* Search Results Footer */
.search_results_footer {
    background-color: #fff;
}

.search_results_footer_wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.search_results_footer_content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 2rem 3rem;
    gap: .5rem;
}

.search_results_footer_content h6 {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
}

.search_results_footer_content li {
    font-size: 12px;
    color: #555;
    cursor: pointer;
    margin-top: 5px;
    width: fit-content;
    font-weight: 300;
}

.search_results_footer_content li:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1290px) {
    .search_header_logo {
        width: 30px;
        height: 35px;
        background: url('../images/brave-logo-small.svg') no-repeat center/cover;
    }

    .header_bottom {
        margin-left: 5.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .search_header_wrapper {
        width: 95vw;
    }

    .header_top {
        padding: .5rem;
    }

    .header_top_left {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .header_logo_icon_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95vw;
        position: relative;
    }

    .settings_icon_mobile {
        position: absolute;
        right: 1rem;
        display: block;
    }

    .settings_icon {
        display: none;
    }

    .search_header_logo {
        width: 114px;
        height: 35px;
        background: url('../images/brave.svg') no-repeat center/cover;
    }

    .search_group,
    .header_bottom,
    .suggestions {
        width: 90vw;
        margin: 0 auto;
    }

    .sidebar_header {
        border-radius: 20px 20px 0 0;
    }

    #sidebar {
        right: 0;
        bottom: -85vh;
        left: 0;
        top: unset;
        width: 100vw;
        min-height: unset;
        height: 85vh;
        border-radius: 20px 20px 0 0;
    }

    #sidebar.active {
        bottom: 0;
    }

    .search_results_wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 95vw;
        /* display: flex;
        flex-direction: column-reverse; */
    }

    .search_results_left,
    .search_results_right {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .search_results_right_card {
        width: unset;
    }

    .search_results_right {
        margin-left: 0;
    }

    .search_results_footer_content {
        padding: 3rem 1rem 5rem 1rem;
    }

    .card_scroll_left,
    .card_scroll_right {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .videos {
        display: none;
    }

    .videos_mobile {
        display: block;
    }
}

@media only screen and (max-width: 499px) {

    .search_group input,
    .suggestions {
        font-size: 15px;
    }

    .header_bottom_menu {
        font-size: 12px;
        gap: 1rem;
    }

    .header_bottom svg {
        width: 1rem;
    }
}