#search_filter {
    max-width: 1280px;
    width: 90vw;
    margin: 0 auto;
}

.search_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    max-width: 650px;
    margin: .65rem 0;
    margin-left: 1rem;
    user-select: none;
}

.search_filter svg {
    width: 1rem;
    height: 1rem;
}

.search_filter_options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search_filter_option {
    position: relative;
}

.search_filter_handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.search_filter_handler:hover {
    color: var(--brave-blue-color);
}

.search_filter_popup {
    position: absolute;
    top: 1.5rem;
    left: 0;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 2px 2px 16px rgba(0 0 0 / 12%);
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 10;
}

.location_popup {
    left: unset;
    right: 25%;
    padding: 1rem 2rem;
    min-width: 450px;
    color: #555;
}

.location_popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location_popup h4 {
    font-size: 1rem;
    font-weight: 500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    /* width: 60px;
    height: 34px; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid transparent;
}

.slider:hover {
    border-color: var(--brave-blue-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider::before {
    background-color: var(--brave-blue-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--brave-blue-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.location_popup_bottom {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.location_popup_bottom>p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    font-size: 1rem;
}

.location_popup_bottom>div {
    border: 1px solid #ddd;
    padding: 5px 1rem;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    transition: var(--transition);
}

.location_popup_bottom>div:hover {
    border-color: var(--brave-blue-color);
    color: var(--brave-blue-color);
}

.search_filter_overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.search_filter_overlay.active {
    right: 0;
}

.search_filter_popup.active {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.popup1 {
    max-height: 350px;
    overflow-x: auto;
}

.popup1::-webkit-scrollbar {
    width: 7px;
}

.popup1::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 100px;
}

.popup_search_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}

.popup_search_icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_input input {
    padding: .8rem 5px;
    font-size: 1rem;
    border: none;
    width: 150px;
}

.popup_input input:focus {
    outline: none;
}

.popup_clear {
    max-height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #dfdfdf;
    cursor: pointer;
}

.regions,
.all_regions,
.safe_search,
.date_range {
    padding: .5rem 0;
    border-bottom: 1px solid #efefef;
}

.regions li,
.all_regions li,
.safe_search li,
.date_range li {
    padding: 5px 1rem;
    font-size: 13px;
    cursor: pointer;
}

.regions li:hover,
.all_regions li:hover,
.safe_search li:hover,
.date_range li:hover {
    background-color: #efefef;
}

.all_regions_header {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: #555;
    gap: 1rem;
    padding: .5rem 1rem 0 1rem;
}

@media only screen and (max-width: 600px) {

    .date_range_popup {
        left: unset;
        right: 40%;
    }
}

@media only screen and (max-width: 499px) {
    .search_filter {
        white-space: nowrap;
        margin-left: 0;
    }

    .location_option {
        display: none;
    }

    .search_filter_options {
        gap: .5rem;
    }

    .search_filter_option {
        font-size: 12px;
    }
}

@media only screen and (max-width: 380px) {
    .search_filter_option svg {
        width: 12px;
        height: 12px;
    }
}